<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <style>
        body{
            color: #fff;
            font-family: 'Nunito Semibold';
            text-align: center;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
            max-width: 1400px;
            margin: 0 auto;
        }
        .container div{
            background-color:rgb(46, 13, 46);
            color: #fff;
            padding: 30px;
        }
    </style>
    <!-- <link rel="stylesheet" href="/public/list.css"> -->
</head>
<body>
    <h1>Add Your Details</h1>
    
    <div class="container">
        
    
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.name%></li>
                <%});%>
                
            </div>
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.subject%></li>
                <%});%>
                
            </div>
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.RegNo%></li>
                <%});%>
                
                
            </div>
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.gender%></li>
                <%});%>
                
            </div>
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.slot%></li>
                <%});%>
                
            </div>
            <div>
                <%listsv.forEach(function(person){%>
                <li><%=person.teachers%></li>
                <%});%>
                
            </div>    
            
        </div>
    </form>
        
        
</body>
</html>